[Unit]
Description=Memcached
Before=nginx.service
After=network.target

[Service]
Type=simple
User=box
ExecStart=/usr/bin/memcached -l 127.0.0.1:11211 -m 64 -c 1024 -t 4
TimeoutSec=60
PrivateTmp=true

[Install]
WantedBy=multi-user.target

