[Unit]
Description=Monit
After=network.target

[Service]
Type=simple
User=box
ExecStart=/usr/bin/monit -c /home/box/monit/monit.conf
TimeoutSec=60
PrivateTmp=true

[Install]
WantedBy=multi-user.target

