[Unit]
Description=Monit
After=network.target

[Service]
Type=simple
User=box
ExecStart=/bin/monit -c /home/box/monit/monit.conf -I
ExecStop=/bin/monit -c /home/box/monit/monit.conf quite
ExecReload=/bin/monit -c /home/box/monit/monit.conf reload
TimeoutSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target

